{% extends 'base.html.twig' %}

{% block title %}Modification salle{% endblock %}

{% block body %}
    <h1>modifier Salle</h1>

    {{ include('admin/salle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_salle_index') }}">retour à la liste</a>
    <a href="{{ path('app_salle_edit') }}">modifier</a>


{% endblock %}
