{% extends 'base.html.twig' %}

{% block title %}Salles {% endblock %}

{% block body %}
    <h1>Liste des salles</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Nombre de places</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>

                <td>{{ salle.nom }}</td>
                <td>{{ salle.NombreDePlace }}</td>
                <td>
                    <a href="{{ path('app_salle_show', {'id': salle.id}) }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_salle_new') }}">Créer une nouvelle salle</a>
{% endblock %}
