{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Studentgram!{% endblock %}


{% block body %}


    {% if not is_granted("ROLE_VALID") %}

        <style>
            body{
                background: url("assets/images/banner.jpg") no-repeat fixed center center;
                background-size: cover;
                backdrop-filter: brightness(0.5);
            }
        </style>

        <div class="d-flex align-items-center justify-content-center flex-column" style="height: 40vh;">
            <h1>Bienvenue sur studentgram</h1>
            <p>Ce site met en relation les entreprises et les étudiants</p>
            {% if is_granted("ROLE_USER") %}
            <p>Votre compte doit être validé !!!</p>
            {% endif %}

        </div>
        
        <div class="d-flex align-items-center justify-content-center" style="background-color: bootstrap height 100vh;">
            <div style="height: 300px; width: 300px; background-color: #333; " class="m-5 rounded-3 d-flex justify-content-center align-items-center">
                <a href="#" class="p-0">
                    <img src="assets/images/lprs.png" alt="LPRS" class="icon" style="max-width: 200px; max-height: 150px;">
                </a>
            </div>
            <div style="height: 300px; width: 300px; background-color: #333; " class="m-5 rounded-3 d-flex justify-content-center align-items-center">
                <a href="#" class="p-0">
                    <img src="assets/images/linkedin.png" alt="linkedin" class="icon" style="max-width: 200px; max-height: 150px;">
                </a>
            </div>
        </div>

    {% endif %}
 
    


{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPERADMIN") %}
    {{ include('admin/user/_index.html.twig', {'users': users}) }}
{% endif %}

{% if (is_granted("ROLE_USER") or is_granted("ROLE_ENTREPRISE")) and not is_granted("ROLE_VALID") %}
    <!-- Message pour les utilisateurs en attente de validation -->
    <div class="presentation">
        <h1>Votre compte est en attente de validation</h1>

    </div>

{% endif %}

{% if (is_granted("ROLE_USER") or is_granted("ROLE_ENTREPRISE")) and is_granted("ROLE_VALID")%}
    <section class="preview-section">
        <div class="w-100">
            <h3>Offres</h3>
        </div>
        {% for offre in offres %}
            {{ include('main/_viewOffre.html.twig', {'offre': offre}) }}
        {% else %}
            <tr>
                <td colspan="5">pas d'offres disponibles</td>
            </tr>
        {% endfor %}
    </section>
{% endif %}

    {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPERADMIN") %}
        {{ include('admin/user/_index.html.twig', {'users': users}) }}
    {% endif %}
    {% if (is_granted("ROLE_USER") or is_granted("ROLE_ENTREPRISE")) and is_granted("ROLE_VALID")%}
        <section class="preview-section">
            <div class="w-100">
                <h3>Evenements</h3>
            </div>
            {% for evenement in evenements %}
                {{ include('main/_viewEvenement.html.twig', {'evenement': evenement}) }}
            {% else %}
                <tr>
                    <td colspan="5">pas d'évènements disponibles</td>
                </tr>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}
