.login{
    background-color: #5080B4;
    filter: contrast(1) saturate(1);
    border-radius: 40px;
    transition: 0.8s all 0s;
}
.login:hover{
    border-radius: 20px;
    filter:contrast(1.3) saturate(1.5);
}
.logout{
    transition: 0.4s all 0s; 
    border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius); border-right: 0;
}
.trash{
    transition: 0.4s all 0s;
    border-radius: 0 var(--bs-border-radius) var(--bs-border-radius) 0;
}
.btn img{
    transition: 0.4s all 0s;
}
.btn:hover img{
    filter: brightness(2.7);
}
.red-drop-item:hover {
    background-color: #3C2222;
}
.blue-drop-item:hover {
    background-color: #22223C;
}
@media (min-width: 768px) {
    .right-30px {
        right: 30px;
    }
}
p{
    margin: 0 auto;
}