{# templates/salle/list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Salles{% endblock %}

{% block body %}
    <h1>Liste des Salles</h1>
    <ul>
        {% for salle in salles %}
            <li>
                <a href="{{ path('app_salle_detail', {'id': salle.id}) }}">{{ salle.nom }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('app_salle_assign') }}" class="btn btn-primary">Affecter une salle à un événement</a>
{% endblock %}
