<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet"href="https://bootswatch.com/5/darkly/bootstrap.css">
        <link rel="stylesheet" href="/assets/css/master.css">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
        {% endblock %}
    </head>
    <body>
        
        <section class="position-absolute w-100 top-0">
            {{ component('Navbar', {route: app.request.attributes.get('_route')}) }}
        </section>
        {% block body %}{% endblock %}
    </body>
</html>
