<div{{ attributes }}>
    <script src="/assets/js/navbar/delscreen.js"></script>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">StudentGram</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                {% if is_granted('ROLE_ENTREPRISE') and is_granted('ROLE_VALID') %}
                <li class="nav-item">
                    <a class="nav-link{{ (route starts with 'app_registration_offer')?' active':'' }}" href="/registration/offer">My offers</a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERADMIN') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestion</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/admin/user">Utilisateur</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/admin/offre">Offres</a>
                        <a class="dropdown-item" href="/admin/typecontrat">Type de contrat</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Evenements</a>
                        <a class="dropdown-item" href="#">Salles</a>
                    </div>
                </li>
                {% endif %}


                <li class="nav-item">
                    <a class="nav-link active" href="/">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/evenement">Mes évènements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                
            </ul>
            
            <ul class="navbar-nav">
                {% if app.user %}
                <li class="nav-item dropdown right-40px">
                    <a class="nav-link d-flex align-items-center" style="height: 40px; top: -8px;" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.prenom }}
                        <p class="nav-item nav-link login m-0" style="margin-left: 10px !important;">
                            <img alt="prophil" src="{{ (app.user.getPhotoProfil())?app.user.getPhotoProfil():'/assets/images/user1.png' }}" style="height: 40px;">
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item blue-drop-item" href="/edit/user">
                            <div class="btn btn-outline-info" style=" transition: 0.4s all 0s;">
                                <p>View/Edit</p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-item d-flex red-drop-item">
                            <div >
                                <a href="/logout">
                                    <div class="btn btn-outline-danger logout">
                                        <p>Logout</p>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <div onclick="delscreenUpd()">
                                    <div class="btn btn-outline-danger trash">
                                        <img alt="login" src="/assets/images/trash.png" style="height: 20px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% else %}
                <li class="nav-item dropdown right-40px" style="height: 40px; top: -8px;">
                    <a href="/login" class="nav-item nav-link login">
                        <img alt="login" src="/assets/images/login2.png" style="height: 40px;">
                    </a>
                </li>
                {% endif %}
            </ul>
            </div>
        </div>
    </nav>
    <div class="delscreen" id="delscreen" style="filter: opacity(0); visibility: hidden;">
        <div class="delscreen-card">
            <div class="delscreen-header">
              <div class="delscreen-image"><svg aria-hidden="true" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" fill="none">
                          <path d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" stroke-linejoin="round" stroke-linecap="round"></path>
                        </svg></div>
              <div class="delscreen-content">
                 <span class="delscreen-title">Suppression de compte</span>
                 <p class="delscreen-message">Toutes les données seront supprimé! <br> Action irréversible!</p>
              </div>
               <div class="delscreen-actions">
                 <a class="delscreen-desactivate" href="/delete" style="text-decoration: none;">Supprimer</a>
                 <button class="delscreen-cancel" type="button" onclick="delscreenUpd()">Anuler</button>
              </div>
            </div>
            </div>
    </div>
    
</div>
