{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<section class="position-absolute w-100">
</section>
<section class="hero d-flex align-items-center" style="padding-top:90px; height: auto; min-height: 100vh;">
    <div class="container">
        <div class="row align-items-center">
        <div class="col-lg-6 d-flex flex-column justify-content-center" style="display: flex;align-items: center; padding: 30px;">
            <h1 data-aos="fade-up" class="aos-init aos-animate">Connexion</h1>
            <h2 data-aos="fade-up" data-aos-delay="400" class="aos-init aos-animate">ou</h2>
            <div data-aos="fade-up" data-aos-delay="600" class="aos-init aos-animate">
            <div class="text-center text-lg-start">
                <a href="/register" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>S'inscrire</span>
                <img alt="arrow" src="/assets/images/arrow.png" height="30px" class="arrow">
                </a>
            </div>
            </div>
        </div>
        
            

            <div class="col-lg-6 contact">
                <form method="post" class="php-email-form" style="height: auto; background-color: #ffffff08; padding: 30px; margin: 30px; ">
                    <div class="row gy-4 counts" style="padding:10px; ">

                        <div class="col-md-6">
                            <input value="{{ last_username }}" type="email" class="form-control" name="email" placeholder="E-mail" autocomplete="email" required="">
                        </div>
                        
                        <div class="col-md-6">
                            <input value="" type="password" class="form-control" name="password" placeholder="Mot de passe" autocomplete="current-password" required="">
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


                        <div class="col-md-12 text-center">
                            {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <button class="btn btn-lg btn-primary" type="submit">Se connecter</button>
                            <a href="{{ path('app_password_request') }}">Mot de passe oublié?</a>                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
